.card {
  max-width: 600px;
  margin: 10px auto;
  border-radius: 5px;
}

.component {
  display: flex;
  padding: 10px 15px 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.buttons {
  margin-left: auto;
  margin-right: 0;
  margin-top: -6px;
}

mat-card-title {
  margin: 0;
  padding-top: 4px;
}

mat-checkbox {
  margin-right: 8px;
  padding-top: 4px;
}

mat-card-content.component {
  background-color: #ddd;
  margin-top: 10px;
}

.done {
  text-decoration: line-through;
  color: #555;
}

mat-form-field.name-input {
  width: 420px;
  padding: 0;
  margin-top: -0.75em;
  margin-bottom: -1.25em;
}

mat-form-field.content-input {
  width: 100%;
}

mat-form-field.content-input textarea {
  min-height: 800px;
}