<div>

  <form class="addToDo" [formGroup]="todoForm" (ngSubmit)="addTodo()">

    <mat-form-field class="input-name" appearance="fill">
      <mat-label>Aufgabe</mat-label>
      <input matInput maxlength="100" type="text" formControlName="todoName" name="todoName">
    </mat-form-field>

    <mat-form-field class="input-content" appearance="fill">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput maxlength="1000" type="text" formControlName="todoContent" name="todoContent"></textarea>
    </mat-form-field>

    <button class="addIcon" mat-fab color="primary" type="submit">
      <mat-icon>add</mat-icon>
    </button>

  </form>

</div>