.addToDo {
    max-width: 600px;
    margin: 40px auto;
}

.input-name {
    width: 100%;
}

.input-content {
    width: 100%;
}

.addIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}